<div class="container-fluid py-5">
  <h3 class="pl-5 pb-5">マイページ</h3>
  <div class="col-8 offset-2">
    <table class="table table-bordered" style="width: 100%;">
      <tbody>
        <tr>
          <td class="my-2 bg-light" style="width: 150px;">氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name%></td>
        </tr>
        <tr>
          <td class="bg-light">カナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="bg-light">郵便番号</td>
          <td><%= @customer.zipcode %></td>
        </tr>
        <tr>
          <td class="bg-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="bg-light">電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row col-8 offset-2 mt-5">
    <div class="col-4">
      <%= link_to edit_customer_path(@customer), class: "btn btn-secondary", style: "width: 100%;" do %>
        <i class="fas fa-user-edit"></i><br>
        編集
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to ships_path, class: "btn btn-secondary", style: "width: 100%;" do %>
        <i class="fas fa-truck"></i><br>
        配送先
      <% end %>
    </div>
    <div class="col-4">
      <%= link_to orders_path, class: "btn btn-secondary", style: "width: 100%;" do %>
        <i class="fas fa-history"></i><br>
        注文履歴
      <% end %>
    </div>
  </div>
</div>
