<div class="container-fluid py-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="pb-2">商品一覧</h2>
      <div class="item-new-icon text-right mb-3" style="font-size: 20px">
        <%= link_to new_admin_item_path do %>
          <i class="fas fa-plus bg-light rounded-circle text-dark p-3"></i>
        <% end %>
      </div>
      <table class='table table-hover table-inverse'>
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th colspan="2">商品名</th>
            <th></th>
            <th>税抜価格</th>
            <th colspan="2">ジャンル</th>
            <th></th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr onclick='window.location="<%= 'items/' + item.id.to_s %>"' role="link" class="pointer">
              <td>
                <%= item.id %>
              </td>
              <td colspan="2">
                <%= item.name %>
              </td>
              <td></td>
              <td>
                <%= item.price %>
              </td>
              <td colspan="2">
                <%= item.genre.name %>
              </td>
              <td></td>
              <td>
                <% if item.is_active == true %>
                  <p class="font-weight-bold text-info mb-0">販売中</p>
                <% else %>
                  <p class="font-weight-bold text-danger mb-0">販売停止中</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>

