<h3>商品詳細</h3>
<div class="image">
  <%= attachment_image_tag @item, :image, :fill, 60, 60, fallback: "no_image.jpg", class:""; %>
</div>
<table>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @item.name%></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @item.explanation%></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= @item.genre.name %></td>
    </tr>
    <tr>
      <td>税込価格<br>(税抜価格)</td>
      <td><%= @item.price%></td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <td>
        <% if @item.is_active = "true" %>
          <p class="font-weight-bold text-info mb-0">販売中</p>
        <% else %>
          <p class="font-weight-bold text-danger mb-0">販売停止中</p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>