<h2>配送先編集</h2>
<div class="container">
    <table>
      <%= form_with model:@ship, url:ship_path(@ship), local:true do |f| %>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :zipcode, autofocus: true, class: "" %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address, class: "" %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name, class: "" %></td>
        <td><%= f.submit "変更内容保存" %></td>
      </tr>
      <% end %>
    </table>
</div>