<div class="container py-5">
<h3>配送先登録/一覧</h3>
  <div class="col-10 offset-1 pt-3">
    <table class="form-group"style="width: 100%">
      <%= form_with model:@ship, url:ships_path, local:true do |f| %>
      <tr>
        <td>郵便番号(ハイフンなし)</td>
        <td><%= f.text_field :zipcode, autofocus: true, placeholder: "0000000", size: "20" %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "50" %></td>
      </tr>
      <tr>
        <td>宛名</td>
        <td><%= f.text_field :name, placeholder: "令和道子", size: "20" %></td>
        <td><%= f.submit "新規登録", class: "btn btn-info px-5 ml-3" %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <% if @ships.present? %>
  <div class="col-9 pt-3">
    <table class="table table-bordered">
      <thead class="bg-light">
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </thead>
      <tbody>
        <% @ships.each do |ship| %>
        <tr>
          <td><%= ship.zipcode %></td>
          <td style="max-width: 300px;"><%= ship.address %></td>
          <td style="max-width: 200px;"><%= ship.name %></td>
          <td style="min-width: 200px;">
            <%= link_to "編集する", edit_ship_path(ship), class: "btn btn-info btn-sm mr-3" %>
            <%= link_to "削除する", ship_path(ship), method: :delete, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <p>まだ配送先はありません</p>
    <% end %>
  </div>
</div>