<div class='container my-3'>
  <div class='col-12'>
    <small class="pm-1">このサイトは、ケーキ販売のecサイトになります。<br>会員でない方も商品の閲覧はできますが、購入には会員登録が必要になります。</small>
    <div class="background d-flex align-items-center">
      <div>
        <h1 class="pl-3">Nagano Cake</h1>
      </div>
    </div>
    <div class="text-center" style="font-size: 50px">
      <%= link_to "#new-items" do %>
        <i class="fas fa-chevron-down text-secondary"></i>
      <% end %>
    </div>
    <div class="py-5" id="new-items">
      <h4>新着商品</h4>
      <div class='row new-items py-3'>
        <% @items.each do |item| %>
          <div class="col-md-3">
            <div class="card" style="width: 15rem;">
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag item, :image, fallback: "nophoto_thumbnail.png", class: "card-img-top p-2", size: "220x200" %>
              <% end %>
              <div class="cardbody px-2 py-4">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text">¥ <%= (item.price * 1.1).floor %></P>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <div>
</div>