<div class="container-fluid py-5">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="pb-5">会員一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr onclick='window.location="<%= 'customers/' + customer.id.to_s %>"' role="link" class="pointer">
              <td>
                <%= customer.id %>
              </td>
              <td>
                <%= customer.last_name + customer.first_name %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <% if customer.is_deleted == false %>
                  <p class="font-weight-bold text-info mb-0">有効</p>
                <% else %>
                  <p class="font-weight-bold text-secondary mb-0">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= paginate @customers %>
    </div>
  </div>
</div>